<%- include('./partials/navbar') %>



<div class="container-xxl bg-primary hero-header mb-0">
  <div class="container px-lg-5">
    <div class="row g-md-5 g-0">
      <div class="col-lg-8 text-center text-lg-start">
        <h3 class="text-white animated slideInDown"> Welcome to CyberHub </h3>
        <h1 class="text-white mb-4 animated slideInDown"> One Stop Destination of <br class="d-none d-md-block"> All Your Cyber Need </h1>
        <p class="text-white pb-3 animated slideInDown">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae consequatur accusantium obcaecati laboriosam facere delectus architecto unde enim tempora facilis.
        </p>
        <a href="#contactForm" class="btn bg-white text-dark py-sm-3 px-4 px-sm-5 rounded-pill me-3 animated slideInLeft">Contact Us</a>
        <a href="tel:8076870849" class="btn bg-white text-dark py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">Make a Call</a>
      </div>
      <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end wow fadeInUp gx-sm-0 pt-4 mt-md-0" data-wow-delay="0.3s">
        <div class="owl-carousel screenshot-carousel">
          <img class="img-fluid" src="img/slide1.png" alt="">
          <img class="img-fluid" src="img/slide2.png" alt="">
          <img class="img-fluid" src="img/slide3.png" alt="">
          <!-- <img class="img-fluid" src="img/5.png" alt=""> -->
          <!-- <img class="img-fluid" src="img/screenshot-4.png" alt=""> -->
          <!-- <img class="img-fluid" src="img/screenshot-5.png" alt=""> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Navbar & Hero End -->


<!-- About Start -->
<div class="container-xxl py-md-5 py-2">
  <div class="container py-5 px-lg-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <h5 class="text-primary-gradient fw-medium">About CyberHub</h5>
        <h1 class="mb-4">#1 CyberCafe in Area</h1>
        <p class="mb-4">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit clita duo justo eirmod magna dolore erat amet</p>
        <div class="row g-4 mb-4">
          <div class="col-6 col-md-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="d-flex">
              <i class="fa fa-cogs fa-2x text-primary-gradient flex-shrink-0 mt-1"></i>
              <div class="ms-3">
                <h2 class="mb-0"><span data-toggle="counter-up"><%=serviceCount%></span> + </h2>
                <p class="text-primary-gradient mb-0">Services</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 wow fadeIn" data-wow-delay="0.7s">
            <div class="d-flex">
              <i class="fa fa-comments fa-2x text-secondary-gradient flex-shrink-0 mt-1"></i>
              <div class="ms-3">
                <h2 class="mb-0"><span data-toggle="counter-up">1274</span> + </h2>
                <p class="text-secondary-gradient mb-0">Happy Customer</p>
              </div>
            </div>
          </div>
        </div>
        <a href="/service" class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill mt-3">Visit Services</a>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" src="img/bg.png">
      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- Services Start -->
<div class="container-xxl py-md-5 py-2" id="feature">
  <div class="container py-5 px-lg-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="text-primary-gradient fw-medium">CyberHub Services</h5>
      <h1 class="mb-5">Awesome Services</h1>
    </div>
    <div class="row g-4">

      <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <a href="#contactForm" style="text-decoration: none; color: #919294;">
            <div class="feature-item bg-light rounded p-4">
                <div class="d-inline-flex align-items-center justify-content-center rounded-circle mb-4" style="width: 60px; height: 60px;">
              
                    <img src="img/pvc.png" class="img-fluid" alt="">
                </div>
                <h5 class="mb-3">Aadhaar Services</h5>
                <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
            </div>
            </a>
        </div> -->

      <% homeServiceData.forEach((value,index)=>{ %>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <a href="#contactForm" style="text-decoration: none; color: #919294;">
          <div class="feature-item bg-light rounded p-4">
            <div class="d-inline-flex align-items-center justify-content-center rounded-circle mb-4" style="width: 60px; height: 60px;">

              <img src="images/<%=value.img%>" class="img-fluid" alt="">
            </div>
            <h5 class="mb-3"> <%= value.title %> </h5>
            <p class="m-0"> <%= value.desc  %> </p>
          </div>
        </a>
      </div>

      <% }) %>
      <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.5s">
        <!-- <button class="btn btn-primary-gradient rounded-pill py-3 px-5" type="submit"></button> -->
        <a href="/service" class="btn btn-primary-gradient rounded-pill py-3 px-5"> View All </a>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->


<!-- Screenshot Start -->
<div class="container-xxl py-md-5 py-2">
  <div class="container py-5 px-lg-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
        <h5 class="text-primary-gradient fw-medium">Add - on</h5>
        <h1 class="mb-4">Top Notch Contactless Services <br class="d-none d-md-block"> to Customer </h1>
        <p class="mb-4">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit clita duo justo eirmod magna dolore erat amet</p>
        <p><i class="fa fa-check text-primary-gradient me-3"></i>All Types of Form</p>
        <p><i class="fa fa-check text-primary-gradient me-3"></i>All Types of Bill Payment</p>
        <p class="mb-4"><i class="fa fa-check text-primary-gradient me-3"></i>Different Type Of Govt. Service</p>
        <a href="#contactForm" class="btn btn-primary-gradient rounded-pill mt-3">Contact Us</a>
      </div>
      <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end wow fadeInUp" data-wow-delay="0.3s">
        <div class="owl-carousel screenshot-carousel">
          <!-- <img class="img-fluid" src="img/4.png" alt="">
          <img class="img-fluid" src="img/6.jpg" alt="">
          <img class="img-fluid" src="img/1.jpg" alt="">
          <img class="img-fluid" src="img/5.png" alt=""> -->
          <img class="img-fluid" src="img/slide1.png" alt="">
          <img class="img-fluid" src="img/slide2.png" alt="">
          <img class="img-fluid" src="img/slide3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Screenshot End -->


<!-- Process Start -->
<div class="container-xxl py-md-5 py-2">
  <div class="container py-5 px-lg-5">
    <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="text-primary-gradient fw-medium">How We Works</h5>
      <h1 class="mb-5">3 Easy Steps</h1>
    </div>
    <div class="row gy-5 gx-4 justify-content-center">
      <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
          <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
            <i class="fa fa-cog fa-3x text-white"></i>
          </div>
          <h5 class="mt-4 mb-3">Go to Contact Us</h5>
          <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
          <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
            <i class="fa fa-address-card fa-3x text-white"></i>
          </div>
          <h5 class="mt-4 mb-3">Fill Your Details</h5>
          <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
          <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
            <i class="fa fa-check fa-3x text-white"></i>
          </div>
          <h5 class="mt-4 mb-3">Enjoy The Service</h5>
          <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Testimonial Start -->
<div class="container-xxl py-md-5 py-2" id="review">
  <div class="container py-5 px-lg-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="text-primary-gradient fw-medium">Testimonial</h5>
      <h1 class="mb-5">What Say Our Customer!</h1>
    </div>
    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
      <div class="testimonial-item rounded p-4">
        <div class="d-flex align-items-center mb-4">
          <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="img/user1.png" style="width: 65px; height: 65px;">
          <div class="ms-4">
            <h5 class="mb-1">Vinay Singh</h5>
            <div>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
            </div>
          </div>
        </div>
        <p class="mb-0">
          One of the best and affordable service provider in this area.
        </p>
      </div>
      <div class="testimonial-item rounded p-4">
        <div class="d-flex align-items-center mb-4">
          <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="img/user2.png" style="width: 65px; height: 65px;">
          <div class="ms-4">
            <h5 class="mb-1">Suraj Das</h5>
            <div>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
            </div>
          </div>
        </div>
        <p class="mb-0">
          They provide services in affordable price.
        </p>
      </div>
      <div class="testimonial-item rounded p-4">
        <div class="d-flex align-items-center mb-4">
          <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="img/avatar.png" style="width: 65px; height: 65px;">
          <div class="ms-4">
            <h5 class="mb-1">Anuj Kumar</h5>
            <div>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
            </div>
          </div>
        </div>
        <p class="mb-0">
          Good Service With Friendly Nature❣️🔥
        </p>
      </div>
      <div class="testimonial-item rounded p-4">
        <div class="d-flex align-items-center mb-4">
          <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="img/avatar.png" style="width: 65px; height: 65px;">
          <div class="ms-4">
            <h5 class="mb-1">Prashant Kumar</h5>
            <div>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
              <small class="fa fa-star text-warning"></small>
            </div>
          </div>
        </div>
        <p class="mb-0">
          Osm bro nice services 😎🤞🏻
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->


<!-- Contact Start -->
<div class="container-xxl py-md-5 py-2" id="contactForm">
  <div class="container py-5 px-lg-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="text-primary-gradient fw-medium">Contact Us</h5>
      <h1 class="mb-5">Send a Message</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="wow fadeInUp" data-wow-delay="0.3s">
          <form action="/enqform" method="post">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" id="name" placeholder="Your Name" name="name">
                  <label for="name">Your Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="number" class="form-control" id="mobile" placeholder="Your Mobile" name="mobile">
                  <label for="mobile">Your Mobile</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                  <label for="subject">Subject</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <textarea name="message" class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                  <label for="message">Message</label>
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-primary-gradient rounded-pill py-3 px-5" type="button" onclick="submitEnq()">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->



<script>
  function submitEnq() {
    let name = document.getElementById("name").value;
    let mobile = document.getElementById("mobile").value;
    let subject = document.getElementById("subject").value;
    let message = document.getElementById("message").value;

    if (!name || !mobile || !subject || !message) {
      iziToast.error({
        title: 'Error',
        message: 'Please Fill all the fields',
      });
      return
    }


    $.ajax({
      url: "/enqform",
      method: "POST",
      data: {
        name: name,
        mobile: mobile,
        subject: subject,
        message: message
      },
      success: (res) => {
        iziToast.success({
          title: 'OK',
          message: 'Successfully inserted record!',
        });
        $("form").trigger("reset");
      },
    });
  }
</script>


<%- include('./partials/footer') %>