<%- include('./partials/navbar') %>


<div class="container-xxl bg-primary hero-header mb-0">
  <div class="container px-lg-5">
    <div class="row g-md-5 g-0 text-center">
      <div class="col-lg-5 text-center text-lg-start">
        <h3 class="text-white animated slideInDown ps-md-3 pb-3 pb-md-0"> Services of CyberHub </h3>
        <a href="/contact#contactForm" class="btn bg-white text-dark py-sm-3 px-4 px-sm-5 rounded-pill me-3 animated slideInLeft">Contact Us</a>
        <a href="tel:8076870849" class="btn bg-white text-dark py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">Make a Call</a>
      </div>
      <div class="col-lg-7 pt-5 pt-md-0 d-flex justify-content-center justify-content-lg-end wow fadeInUp" data-wow-delay="0.3s">
        <div>
          <img src="img/mainBanner.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Navbar & Hero End -->



<!-- Services Start -->
<div class="container-xxl py-md-5" id="feature">
  <div class="container py-md-5 pt-0 pb-5 px-lg-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="text-primary-gradient fw-medium">CyberHub Services</h5>
      <h1 class="mb-5">Featured Services</h1>
    </div>
    <div class="row g-4">
      <% highlightService.forEach((value,index)=>{ %>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <a href="/contact#contactForm" style="text-decoration: none; color: #919294;">
          <div class="feature-item bg-light rounded p-4">
            <div class="d-inline-flex align-items-center justify-content-center rounded-circle mb-4" style="width: 60px; height: 60px;">
              <img src="images/<%=value.img%>" class="img-fluid" alt="">
            </div>
            <h5 class="mb-3"> <%= value.title %> </h5>
            <p class="m-0"> <%= value.desc %> </p>
          </div>
        </a>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<!-- Services Start -->
<div class="container-xxl py-5" id="feature">
  <div class="container py-5 px-lg-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="text-primary-gradient fw-medium">CyberHub Services</h5>
      <h1 class="mb-5">All Services</h1>
    </div>
    <div class="row g-4">

      <% allServiceData.forEach((value,index)=>{ %>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <a href="/contact#contactForm" style="text-decoration: none; color: #919294;">
          <div class="feature-item bg-light rounded p-4">
            <div class="d-inline-flex align-items-center justify-content-center rounded-circle mb-4" style="width: 60px; height: 60px;">
              <!-- <i class="fa fa-eye text-white fs-4"></i> -->
              <img src="images/<%=value.img%>" class="img-fluid" alt="">
            </div>
            <h5 class="mb-3"><%= value.title %></h5>
            <p class="m-0"> <%= value.desc %> </p>
          </div>
        </a>
      </div>

      <% }) %>
    </div>
  </div>
</div>



<%- include('./partials/footer') %>